<div class="row">
  <div class="col-md-12">
    <h2>Employees</h2>
    <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee &nbsp; Num</th>
                        <th>Full &nbsp; Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Manager &nbsp; ID</th>
                        <th>Status</th>
                        <th>Class</th>
                        <th>Hired &nbsp; On</th>
                    </tr>
                </thead>
                <tbody>
                     {{#each employees}}
                    <tr>
                        <td>{{employeeNum}}</td>
                        <td><a href="/employee/{{employeeNum}}">{{firstName}}&nbsp; {{lastName}} </a></td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td>{{addressStreet}} &nbsp;{{addressCity}}&nbsp;{{addressProvince}}</td>
                        <td><a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
                        <td><a href="/employees?status={{status}}">{{status}}</a></td>
                        <td><a href="/employees?class={{class}}">{{class}}</a></td>
                        <td>{{hireDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>    
   </div>
   <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
  </div>
</div>